*, *:before, *:after {
  box-sizing: border-box;
}
select {
  background: none;
  outline: none;
  border: none;
  border-bottom: 1px solid var(--color-primary);
  padding: 3px;
  will-change: border-size;
}
select, input[type="text"], input[type="password"] {
  font-size: 20px;
}
section.link {
  cursor: pointer;
  transition: box-shadow 0.15s ease;
  will-change: box-shadow;
  &:hover {
    box-shadow: 3px 3px 10px 6px;
  }
}
#modwatch-app > div {
  opacity: 1;
  transition: opacity 150ms ease;
  will-change: opacity;
  &.loading {
    opacity: 0.7;
    pointer-events: none;
  }
}
.upload-form {
  display: flex;
  flex-direction: column;
  & > div {
    justify-content: space-between;
    display: flex;
    margin: 10px 0;
    &.files .file {
      cursor: pointer;
      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: 20px;
      & > svg {
        fill: var(--color-primary);
        margin-bottom: 5px;
      }
    }
    & > div {
      flex: 0.45;
      &.full-width {
        flex: 1;
      }
      & > input, & > select {
        width: 100%;
      }
      & svg.file {
        width: 50px;
      }
    }
  }
}